files:
  "/etc/newrelic-infra.yml" :
    mode: "000644"
    owner: root
    group: root
    content: |
      license_key: dcce1dfb9a80a7de94cadbb358a7c4d7a1a8NRAL

commands:
# Create the agent’s yum repository
  "01-agent-repository":
    command: sudo curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/amazonlinux/2023/x86_64/newrelic-infra.repo
#
# Update your yum cache
  "02-update-yum-cache":
    command: yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'
#
# Run the installation script
  "03-run-installation-script":
    command: sudo yum install newrelic-infra -y

container_commands:
  "04-get-instance-ip":
    command: |
      export privateIP=$(ip addr show | grep -oP '(?<=inet\s)\d+(\.\d+){3}' | awk 'NR==2{print $1}')
#
  "05-edit-display-name":
    command: |
      echo "display_name: \"app-$privateIP\"" >> /etc/newrelic-infra.yml
#
  "06-restart-newrelic-agent":
    command: sudo systemctl restart newrelic-infra